.home-title {
  background: linear-gradient(rgba(0, 255, 255, 0.5), url("https://images.pexels.com/photos/32870/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"));
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}
